extends layout

block content
  h1= title

  p
    | This app was started at the International Open Data Day Hackathon on Open Day Date on February 23, 2013. Our goal was to use Open Data provided by the region for testing and experimental purposes. We intend to provide feedback to the Region about how easy the data is to use and to show the communities how amazing Open Data can be for citizens and nearby communities.

  p
    | We are using Open Data from the Niagara Region Open Data Catalogue.