extends layout

block content
  h1= title
      
  #location-container
    p= "Determining Location..."
        
  script
    (function($) {
      var onSuccessfulPosition = function(location) {
        var lat = location.coords.latitude
          , lng = location.coords.longitude
          , request;

        request = $.ajax({
          url: "/nearby-json?lat=" + lat + "&lng=" + lng + "&radius=10",
          dataType: 'json',
          success: function(data, textStatus, jqXHR) {
            //console.log(data);   
            var html = '';
            html += '<table class="table table-bordered table-striped">';

            for (var i in data) {
              html += '<tr>';
                html += '<td>' + i + '</td>';
                html += '<td>' + data[i][0]['description'] + '</td>';
              html += '</tr>';
            }

            html += '</table>';

            $('#location-container').html('<p>Found trials near you: </p>' + html);
            $('#location-container').html(html);

          },
          error: function(jqXHR, textStatus, errorThrown) {
            $('#location-container').html('<div class="alert alert-error">Failed to get Data! </div>');
          },
          fail:  function(jqXHR, textStatus, errorThrown) {
            $('#location-container').html('<div class="alert alert-error">Failed to get Data! </div>');
          }
        });
      };
      
      var onFailedPosition = function(err) {
         if(err.code == 1) {
          // access is denied by user... what a shame
          alert("Don't worry, be open!");
        }else if( err.code == 2) {
          // position is not available
          alert('Failed to get your location');
        }
      }
    
      $(document).ready(function() {
        if (navigator && navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(onSuccessfulPosition, onFailedPosition, {timeout: 10000 });
        } else {
          alert('Failed to get your location');
        }
      });
    })($);
